.back{
  background: rgba(233, 247, 45, 0.342);
  font-family: Georgia, 'Times New Roman', Times, serif
}

h1 {
  padding-top: 0px;
  margin-top: 5px;
  border-radius: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgba(22, 238, 184, 0.253);
}

p {
  padding-top: 3px;
  margin-top: 3px;
  border-radius: 7px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: rgba(155, 243, 14, 0.699);

}

input {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(241, 211, 40);
  background: rgba(3, 24, 56, 0.795);
  border-radius: 8px;
  border-color: rgb(21, 224, 14);
}
span{
  padding:10px;
  border-color: black;
  border-radius: 10px;  
}